<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url %>
      </div>

      <div class="panel-body">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
      </div>

      <div class="vote_button">
        <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-success" do %>
            <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center"></span>
            <%= @pin.get_upvotes.size %>
          <% end %>

          <%= link_to unlike_pin_path(@pin), method: :put, class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center"></span>
            <%= @pin.get_downvotes.size %>
          <% end %>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Submitted by :
              <div class="frame-user">
                <div class="nav-pp">
                  <%= link_to image_tag(@pin.user.avatar(:small)), profile_path(@pin.user.pseudo) %>
                </div> 
                <div class="nam-pp">
                  <%= link_to @pin.user.pseudo, profile_path(@pin.user.pseudo)%>
                </div>    
              </div>
            </p>
          </div>
         
          </div>
          <% if @pin.user_id == current_user.id %>
        <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
        <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
      <% end %>
        </div>
      </div>

   
      <div id="comments">
            <h2><%= @pin.comments.count %> Comments</h2>
            <%= render @pin.comments %>

            <h3>Add a comment:</h3>
            <%= render "comments/form" %>
          </div>
    </div>
    

